@import url("http://fonts.cdnfonts.com/css/uber-move-text");

.App {
  text-align: center;
  font-family: "Uber Move Text", sans-serif;
  background-image: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.err {
  background: #ffe6ee;
  border: 1px solid #b1395f;
}

.body {
  padding: 0%;
  margin: 0;
}

.emsg {
  color: #c12020;
  font-weight: bold;
}

.font {
  font-family: "Uber Move Text", sans-serif;
  /* background-color: #060b26; */
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  width: 100%;
}

.driver1 {
  background-color: rgba(192, 192, 200, 0.3);
  height: 100px;
  text-align: left;
  padding-top: 3px;
  width: 40%;
  font-size: 30px;
  padding-left: 30px;
  padding-top: 20px;
  margin-top: 50px;
}

.driver {
  background-color: rgba(192, 192, 200, 0.3);
  height: 100px;
  text-align: center;
  padding: 25px 10px 10px 10px;
  width: 15%;
  font-size: 30px;
  margin-top: 50px;
}

.driver:hover {
  text-decoration: none;
}
